.cell {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 5px;
}

#ik48 {
    flex: 1 1 100%;
    flex-basis: 1auto;
    align-self: center;
    padding: 5px 0 5px 10px;
    white-space: normal;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 3px 0;
}

#icu6h {
    color: #302c5e;
    font-size: 21px;
}

.gpd-text {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    vertical-align: top;
    padding: 10px;
    max-width: 100%;
}

.gpd-clm {
    padding: 5px 0;
}