<div id="ik48" class="cell gpd-clm">
    <div id="icu6h" class="gpd-text">Vault directions to add Credentials:</div>
    <p>1.Go to Admin Dashboard</p>
    <p>2.Click on Vault under System Administration </p>
    <p>3.Select Internal App</p>
    <p>4.Enter the Token to login to the built-in vault</p>
    <p>5.Click on Signin</p>
    <p>6.Click on sso/ in the Secret Engines(if you don't find it skip to step 13)</p>
    <p>7.Click on login/</p>
    <p>8.Click Create secret</p>
    <p>9.Enter login/github under Path for this secret</p>
    <p>10.Enter the key and the value in the Secret Data section</p>
    <p>11.Click Add and do the same for all the key value pairs</p>
    <p>12.Click Save</p>
    <p>13.Click Enable new engine if there is no sso/ in the Secret Engines</p>
    <p>14.Select KV under the Generic category</p>
    <p>15.Click Next</p>
    <p>16.Enter sso under the Path</p>
    <p>17.Click on Method Options</p>
    <p>18.Select 1 from the Version dropdown</p>
    <p>12.Click Enable Engine</p>
    <p>19.Click Create secret</p>
    <p>20.Enter login/github under Path for this secret</p>
    <p>21.Enter the key and the value in the Secret Data section</p>
    <p>22.Click Add and do the same for all the key value pairs</p>
    <p>23.Click Save</p>
</div>