@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}



body {
    margin: 0;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-i90n {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 50px 100px 50px 100px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.23);
}

#template-i2zi {
    min-height: auto;
    background-color: #d0d0d0;
}

#template-ib56 {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    margin: 10px 0 10px 0;
}

#template-is3t {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

#template-ixbg {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: 600;
    margin: 00030px;
}

#template-i3te {
    transform: translateX(0px)translateY(0px);
    margin: 0 50px 0 50px;
    height: auto;
    min-height: auto;
}

#template-ifd1o {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 0 20px;
}

#template-inlc6 {
    height: auto;
    min-height: auto;
}

#template-ioufd {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-izw1t {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-iy5mv {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-ihufy {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    display: flex;
}

#template-ixbm9 {
    height: auto;
    min-height: auto;
}

#template-ihy4y {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i37yh {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    display: flex;
}

#template-i2osi {
    height: auto;
    min-height: auto;
}

#template-it6lh {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i1f3y {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    display: flex;
}

#template-inplk {
    height: auto;
    min-height: auto;
}

#template-is5rh {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ixc1c {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-igyua {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-i7mpk {
    height: auto;
    min-height: auto;
}

#template-itrdx {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-iwhnj {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ilpv4 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-i1fwj {
    height: auto;
    min-height: auto;
}

#template-ifdwd {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-idf9s {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i4gmf {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-i4x1h {
    height: auto;
    min-height: auto;
}

#template-i9jub {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ifirw {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i8uv4 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-ijj4k {
    height: auto;
    min-height: auto;
}

#template-ioqcs {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ip2p2p {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-ijbf0i {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ill1ob {
    height: auto;
    min-height: auto;
}

#template-ihcsqp {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i61xfh {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-iwcipv {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i0sc8f {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-is02sr {
    height: auto;
    min-height: auto;
}

#template-i94rky {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-il8qyd {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-ic74t9 {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-irxdx8 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-icwnvc {
    height: auto;
    min-height: auto;
}

#template-ixiang {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ibsai6 {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-i70hld {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ialfx6 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-i1evbf {
    height: auto;
    min-height: auto;
}

#template-ijlmyg {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ibo1cs {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-i6hsdf {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-iaiixr {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-irm8cz {
    height: auto;
    min-height: auto;
}

#template-i3l9xv {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i0fhbk {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-itjskw {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-iy4uth {
    height: auto;
    min-height: auto;
}

#template-ibop14 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i4ooe2 {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    display: flex;
}

#template-iznx8z {
    height: auto;
    min-height: auto;
}

#template-i0m5km {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ing3l7 {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    display: flex;
}

#template-i5ff9i {
    height: auto;
    min-height: auto;
}

#template-i6rt6f {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ikxb8k {
    transform: translateX(0px)translateY(0px);
    margin: 0 50px 0 50px;
    height: auto;
    min-height: auto;
}

#template-ifag7 {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-id9jx {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-izdnz {
    height: auto;
    min-height: auto;
}

#template-ifmyp {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i5wek {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ixl2c {
    height: auto;
    min-height: auto;
}

#template-i5dep {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-iy8dt {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ipall {
    height: auto;
    min-height: auto;
}

#template-ibfyl {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i8zb3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#template-ierwk {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i0p3x {
    height: auto;
    min-height: auto;
}

#template-ij7dm {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-iajq1k {
    display: flex;
    justify-content: center;
    align-items: center;
}

#template-is44bh {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ijx619 {
    height: auto;
    min-height: auto;
}

#template-i0zlwv {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ilaxoy {
    transform: translateX(0.0078125px)translateY(0px);
    text-align: justify;
}

#template-irvc9x {
    text-align: justify;
}

#template-iomc9i {
    text-align: justify;
}

#template-ifeyi2 {
    text-align: justify;
}

#template-iytx8f {
    text-align: justify;
}

#template-igk8wg {
    text-align: justify;
}

#template-il0lko {
    text-align: justify;
    display: block;
}

#template-i1d0w2 {
    text-align: justify;
}

#template-im4a4t {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-ihsg1d {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid  #d0d0d0;
    background-color: #ffffff;
}

#template-izwtb5 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-ipl5ay {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-inxzv2 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-ie82rz {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-iahc0o {
    font-family: Georgia, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 00040px;
}

#template-ijoagt {
    min-height: auto;
    background-color: #d0d0d0;
}

#template-izb0cf {
    transform: translateX(0.0078125px)translateY(0px);
    text-align: justify;
}

#template-incmik {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i8ymi1 {
    height: auto;
    min-height: auto;
}

#template-iak2fh {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-it31z5 {
    text-align: justify;
}

#template-ieke1q {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ib4q8i {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-ihz26l {
    height: auto;
    min-height: auto;
}

#template-ivand1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-icy9l2 {
    text-align: justify;
}

#template-iqhaol {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-iihq4q {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-i295it {
    height: auto;
    min-height: auto;
}

#template-iv8884 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i1cwsr {
    text-align: justify;
}

#template-iblaup {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i2zwkl {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-ibpdsj {
    height: auto;
    min-height: auto;
}

#template-ij2c0a {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i5n6k6 {
    text-align: justify;
}

#template-izqqej {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i4bjh2 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-ifmgke {
    height: auto;
    min-height: auto;
}

#template-imw7ax {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ie4tjc {
    transform: translateX(0px)translateY(0px);
    margin: 0 50px 0 50px;
    height: auto;
    min-height: auto;
}

#template-ijtiun {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-i4c3kg {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-iqyx0f {
    height: auto;
    min-height: auto;
}

#template-ifmtpz {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-idchcb {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-ixd494 {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-imlzly {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-il507n {
    height: auto;
    min-height: auto;
}

#template-i797mh {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i78a62 {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-iasj4h {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-iw3ujr {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-i110x2 {
    height: auto;
    min-height: auto;
}

#template-iyud2i {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-iqo1jh {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-i2mt65 {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i1aylg {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-i9ji94 {
    height: auto;
    min-height: auto;
}

#template-is3iq5 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-iuffkm {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-ien5nl {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i0l9uh {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-iuwudg {
    height: auto;
    min-height: auto;
}

#template-iehhs6 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-isjk23 {
    transform: translateX(0px)translateY(0px);
    margin: 0 50px 0 50px;
    height: auto;
    min-height: auto;
}

#template-i2fltz {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

#template-iuob0r {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    margin: 10px 0 10px 0;
}

#template-i7tnrf {
    border: 1px solid #d0d0d0;
}

#template-i5vf1s {
    text-align: center;
}

#template-isbnii {
    text-align: center;
}

#template-ioyms6 {
    text-align: justify;
}

#template-intm05 {
    text-align: center;
}

#template-ih52qm {
    text-align: justify;
}

#template-i1s4x5 {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: 600;
    margin: 00040px;
}

#template-i9s6xf {
    margin: 0000;
    min-height: auto;
    background-color: #d0d0d0;
}

#template-iaaoy8 {
    transform: translateX(0.0078125px)translateY(0px);
    text-align: justify;
}

#template-iog5hr {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-i6gayd {
    height: auto;
    min-height: auto;
}

#template-ikajxc {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-iymx14 {
    text-align: justify;
}

#template-i7ks1b {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-iwy9n5 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-i0qdkt {
    height: auto;
    min-height: auto;
}

#template-ihvs9t {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-idh5y5 {
    text-align: justify;
}

#template-i8opd8 {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-iai8qo {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-ixe45c {
    height: auto;
    min-height: auto;
}

#template-i5d82a {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-isya2l {
    text-align: justify;
}

#template-i4a20w {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-idq2pb {
    height: auto;
    min-height: auto;
}

#template-ie1e2t {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-ii146a {
    transform: translateX(0px)translateY(0px);
    margin: 0 50px 0 50px;
    height: auto;
    min-height: auto;
}

#template-ik4jay {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-i9ou6l {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ibxwxd {
    height: auto;
    min-height: auto;
}

#template-ijbs2c {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i6ll6g {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-iq83i4 {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-iw95ok {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

#template-iya6zt {
    height: auto;
    min-height: auto;
}

#template-i1qtjc {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-io2kif {
    display: block;
    justify-content: center;
    align-items: center;
}

#template-iwsjvy {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-ipn9hk {
    height: auto;
    min-height: auto;
}

#template-ife7b3 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-iwdzee {
    transform: translateX(0px)translateY(0px);
    margin: 0 50px 0 50px;
    height: auto;
    min-height: auto;
}

#template-ir6cj5 {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

#template-icibfv {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    margin: 10px 0 10px 0;
}

#template-iaddxx {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-iorj6e {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-ifwpw7 {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-ir8whh {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

#template-ia7bm7 {
    font-family: Georgia serif;
    font-size: 24px;
    font-weight: 600;
    margin: 00040px;
}

#template-ic1sw8 {
    min-height: auto;
    background-color: #d0d0d0;
}

#template-ikz8ex {
    transform: translateX(0.0078125px)translateY(0px);
    text-align: justify;
}

#template-ij5xxk {
    height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#template-izk8b9 {
    height: auto;
    min-height: auto;
}

#template-igibeg {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#template-i2xc6j {
    transform: translateX(0px)translateY(0px);
    margin: 0 50px 0 50px;
    height: auto;
    min-height: auto;
}

#template-idboxq {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

#template-iosus9 {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    margin: 10px 0 10px 0;
}

#template-igx883 {
    transform: translateX(0px)translateY(0px);
    margin: 0 50px 0 50px;
    height: auto;
    min-height: auto;
}

#template-iumhha {
    border: 1px solid #d0d0d0;
}

#template-ie9iwm {
    border: 1px solid #d0d0d0;
}

#template-iowq7k {
    display: flex;
    justify-content: flex-end;
    min-height: auto;
}

#template-i5zwik {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    margin: 0 0 20px 0;
    justify-content: center;
    align-items: center;
}

#template-icypk2 {
    margin: 0 20px 0 0;
    border: 1px solid #01bdfc;
    background-color: #01bdfc;
}

#template-ipquca {
    margin: 0 20px 0 0;
    border: 1px solid #01bdfc;
    background-color: #01bdfc;
}

#template-i3hdgj {
    display: block;
    justify-content: space-around;
    min-height: auto;
}

#template-idkrzq {
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    color: #484848;
}

#template-i7ff {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}